In [20]:
#8a
import pandas as pd
college = pd.read_csv('College.csv')

In [21]:
#8b
college.head()

,Unnamed: 0,Private,Apps,Accept,Enroll,Top10perc,Top25perc,F.Undergrad,P.Undergrad,Outstate,Room.Board,Books,Personal,PhD,Terminal,S.F.Ratio,perc.alumni,Expend,Grad.Rate
0,Abilene Christian University,Yes,1660,1232,721,23,52,2885,537,7440,3300,450,2200,70,78,18.1,12,7041,60
1,Adelphi University,Yes,2186,1924,512,16,29,2683,1227,12280,6450,750,1500,29,30,12.2,16,10527,56
2,Adrian College,Yes,1428,1097,336,22,50,1036,99,11250,3750,400,1165,53,66,12.9,30,8735,54
3,Agnes Scott College,Yes,417,349,137,60,89,510,63,12960,5450,450,875,92,97,7.7,37,19016,59
4,Alaska Pacific University,Yes,193,146,55,16,44,249,869,7560,4120,800,1500,76,72,11.9,2,10922,15

In [13]:
print list(college.columns)

['Unnamed: 0', 'Private', 'Apps', 'Accept', 'Enroll', 'Top10perc', 'Top25perc', 'F.Undergrad', 'P.Undergrad', 'Outstate', 'Room.Board', 'Books', 'Personal', 'PhD', 'Terminal', 'S.F.Ratio', 'perc.alumni', 'Expend', 'Grad.Rate']

In [23]:
college.rename(columns={'Unnamed: 0': 'rownames'}, inplace=True)
college.set_index('rownames', inplace=True, drop=True)

In [24]:
print college.head()

                             Private  Apps  Accept  Enroll  Top10perc  \
rownames
Abilene Christian University     Yes  1660    1232     721         23
Adelphi University               Yes  2186    1924     512         16
Adrian College                   Yes  1428    1097     336         22
Agnes Scott College              Yes   417     349     137         60
Alaska Pacific University        Yes   193     146      55         16

                              Top25perc  F.Undergrad  P.Undergrad  Outstate  \
rownames
Abilene Christian University         52         2885          537      7440
Adelphi University                   29         2683         1227     12280
Adrian College                       50         1036           99     11250
Agnes Scott College                  89          510           63     12960
Alaska Pacific University            44          249          869      7560

                              Room.Board  Books  Personal  PhD  Terminal  \
rownames
Abilene Christian University        3300    450      2200   70        78
Adelphi University                  6450    750      1500   29        30
Adrian College                      3750    400      1165   53        66
Agnes Scott College                 5450    450       875   92        97
Alaska Pacific University           4120    800      1500   76        72

                              S.F.Ratio  perc.alumni  Expend  Grad.Rate
rownames
Abilene Christian University       18.1           12    7041         60
Adelphi University                 12.2           16   10527         56
Adrian College                     12.9           30    8735         54
Agnes Scott College                 7.7           37   19016         59
Alaska Pacific University          11.9            2   10922         15

In [25]:
#8c

In [26]:
print college.describe()

               Apps        Accept       Enroll   Top10perc   Top25perc  \
count    777.000000    777.000000   777.000000  777.000000  777.000000
mean    3001.638353   2018.804376   779.972973   27.558559   55.796654
std     3870.201484   2451.113971   929.176190   17.640364   19.804778
min       81.000000     72.000000    35.000000    1.000000    9.000000
25%      776.000000    604.000000   242.000000   15.000000   41.000000
50%     1558.000000   1110.000000   434.000000   23.000000   54.000000
75%     3624.000000   2424.000000   902.000000   35.000000   69.000000
max    48094.000000  26330.000000  6392.000000   96.000000  100.000000

        F.Undergrad   P.Undergrad      Outstate   Room.Board        Books  \
count    777.000000    777.000000    777.000000   777.000000   777.000000
mean    3699.907336    855.298584  10440.669241  4357.526384   549.380952
std     4850.420531   1522.431887   4023.016484  1096.696416   165.105360
min      139.000000      1.000000   2340.000000  1780.000000    96.000000
25%      992.000000     95.000000   7320.000000  3597.000000   470.000000
50%     1707.000000    353.000000   9990.000000  4200.000000   500.000000
75%     4005.000000    967.000000  12925.000000  5050.000000   600.000000
max    31643.000000  21836.000000  21700.000000  8124.000000  2340.000000

          Personal         PhD    Terminal   S.F.Ratio  perc.alumni  \
count   777.000000  777.000000  777.000000  777.000000   777.000000
mean   1340.642214   72.660232   79.702703   14.089704    22.743887
std     677.071454   16.328155   14.722359    3.958349    12.391801
min     250.000000    8.000000   24.000000    2.500000     0.000000
25%     850.000000   62.000000   71.000000   11.500000    13.000000
50%    1200.000000   75.000000   82.000000   13.600000    21.000000
75%    1700.000000   85.000000   92.000000   16.500000    31.000000
max    6800.000000  103.000000  100.000000   39.800000    64.000000

             Expend  Grad.Rate
count    777.000000  777.00000
mean    9660.171171   65.46332
std     5221.768440   17.17771
min     3186.000000   10.00000
25%     6751.000000   53.00000
50%     8377.000000   65.00000
75%    10830.000000   78.00000
max    56233.000000  118.00000

In [34]:
# make Elite a factor if > 50% are Top10perc
def top_fifty(x):
    if x > 50:
        return "yes"
    
    return "no"

college['Elite'] = college.Top10perc.apply(lambda my_var: "yes" if my_var > 50 else "no")
college['Elite2'] = ["yes" if x > 50 else "no" for x in college.Top10perc]
college['Elite3'] = college.Top10perc.apply(top_fifty)

In [35]:
college.head()

,Private,Apps,Accept,Enroll,Top10perc,Top25perc,F.Undergrad,P.Undergrad,Outstate,Room.Board,...,Personal,PhD,Terminal,S.F.Ratio,perc.alumni,Expend,Grad.Rate,Elite,Elite2,Elite3
rownames,,,,,,,,,,,,,,,,,,,,,
Abilene Christian University,Yes,1660,1232,721,23,52,2885,537,7440,3300,...,2200,70,78,18.1,12,7041,60,no,no,no
Adelphi University,Yes,2186,1924,512,16,29,2683,1227,12280,6450,...,1500,29,30,12.2,16,10527,56,no,no,no
Adrian College,Yes,1428,1097,336,22,50,1036,99,11250,3750,...,1165,53,66,12.9,30,8735,54,no,no,no
Agnes Scott College,Yes,417,349,137,60,89,510,63,12960,5450,...,875,92,97,7.7,37,19016,59,yes,yes,yes
Alaska Pacific University,Yes,193,146,55,16,44,249,869,7560,4120,...,1500,76,72,11.9,2,10922,15,no,no,no